# Building a data pipeline in Python
## Post docker installation
It is after docker installation that this notebook is usable.

In [37]:
# Intallation of dependencies
!pip install pandas
!pip install sqlalchemy
!pip install psycopg2

Requirement already satisfied: pandas in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: psycopg2 in c:\users\rcata\anaconda3\envs\adv_omdena_db\lib\site-packages (2.9.9)

In [38]:
# Importing necessary libraries
import pandas as pd

In [39]:
# reading the csv file the sample dataset
df_sales = pd.read_csv('retail_price.csv', parse_dates=['month_year'])
df_sales.columns # checking its columns to parse dates if necessary

Index(['product_id', 'product_category_name', 'month_year', 'qty',
       'total_price', 'freight_price', 'unit_price', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'holiday', 'month',
       'year', 's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2',
       'comp_3', 'ps3', 'fp3', 'lag_price'],
      dtype='object')

In [40]:
# Checking the quantity of products to sum for the transformation
df_sales['product_id'].unique()

array(['bed1', 'garden5', 'consoles1', 'garden7', 'health9', 'cool4',
       'health3', 'perfumery1', 'cool5', 'health8', 'garden4',
       'computers5', 'garden10', 'computers6', 'health6', 'garden6',
       'health10', 'watches2', 'health1', 'garden8', 'garden9',
       'watches6', 'cool3', 'perfumery2', 'cool2', 'computers1',
       'consoles2', 'health5', 'watches8', 'furniture4', 'watches5',
       'health7', 'bed3', 'garden3', 'bed2', 'furniture3', 'watches4',
       'watches3', 'furniture2', 'garden2', 'furniture1', 'health2',
       'garden1', 'cool1', 'computers4', 'watches7', 'computers3',
       'health4', 'watches1', 'computers2', 'bed4', 'bed5'], dtype=object)

In [42]:
# Transform data calculating total sales amount for each product
total_sales = df_sales.groupby('product_id')['total_price'].sum().reset_index()
total_sales

    product_id  total_price
0         bed1      5831.77
1         bed2     42938.66
2         bed3     10304.96
3         bed4      6011.77
4         bed5     29997.36
5   computers1     12306.81
6   computers2     15439.25
7   computers3     15111.82
8   computers4     46916.51
9   computers5     11240.96
10  computers6     41082.60
11   consoles1      3416.70
12   consoles2      2384.00
13       cool1     11868.42
14       cool2     15159.81
15       cool3      3656.50
16       cool4     17643.92
17       cool5      9627.65
18  furniture1      6162.11
19  furniture2     37608.90
20  furniture3      3507.95
21  furniture4      9646.20
22     garden1     14869.03
23    garden10     21390.69
24     garden2      7333.70
25     garden3     14492.14
26     garden4     21056.80
27     garden5     10759.30
28     garden6     26577.22
29     garden7      6220.90
30     garden8     20495.56
31     garden9     20387.20
32     health1     10368.78
33    health10      7757.91
34     health2     63885.00
35     health3     18889.44
36     health4      4096.30
37     health5     54730.20
38     health6      9862.50
39     health7     13866.69
40     health8     22627.23
41     health9      6325.19
42  perfumery1      7675.62
43  perfumery2     12636.90
44    watches1     31786.82
45    watches2     20593.22
46    watches3     12475.00
47    watches4     23943.00
48    watches5     30467.50
49    watches6     37683.42
50    watches7     31623.81
51    watches8     19009.40

In [43]:
# importing sqlalchemy library to handle ingestion 
from sqlalchemy import create_engine

In [44]:
# create object to handle connection to the docker container with the db installed
engine = create_engine('postgresql://root:root@localhost:5432/retail_sales')

In [45]:
# connecting to the object 
engine.connect()

In [46]:
# testing the connection to the db
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [47]:
# ingesting the data from the transformation 
total_sales.to_sql(name='retail_sales_total', con=engine, if_exists='replace', index=False )

52

In [49]:
# Checking the ingestion 
query = """
SELECT * FROM retail_sales_total;
"""
pd.read_sql(query, con=engine)

    product_id  total_price
0         bed1      5831.77
1         bed2     42938.66
2         bed3     10304.96
3         bed4      6011.77
4         bed5     29997.36
5   computers1     12306.81
6   computers2     15439.25
7   computers3     15111.82
8   computers4     46916.51
9   computers5     11240.96
10  computers6     41082.60
11   consoles1      3416.70
12   consoles2      2384.00
13       cool1     11868.42
14       cool2     15159.81
15       cool3      3656.50
16       cool4     17643.92
17       cool5      9627.65
18  furniture1      6162.11
19  furniture2     37608.90
20  furniture3      3507.95
21  furniture4      9646.20
22     garden1     14869.03
23    garden10     21390.69
24     garden2      7333.70
25     garden3     14492.14
26     garden4     21056.80
27     garden5     10759.30
28     garden6     26577.22
29     garden7      6220.90
30     garden8     20495.56
31     garden9     20387.20
32     health1     10368.78
33    health10      7757.91
34     health2     63885.00
35     health3     18889.44
36     health4      4096.30
37     health5     54730.20
38     health6      9862.50
39     health7     13866.69
40     health8     22627.23
41     health9      6325.19
42  perfumery1      7675.62
43  perfumery2     12636.90
44    watches1     31786.82
45    watches2     20593.22
46    watches3     12475.00
47    watches4     23943.00
48    watches5     30467.50
49    watches6     37683.42
50    watches7     31623.81
51    watches8     19009.40